html,
body,
p,
ol,
ul,
li,
textarea,
pre,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  height: auto;
  max-width: 100%;
}

a {
  text-decoration: none;
}

body {
  font-family: "Jost";
  font-size: 22px;
  letter-spacing: 0.22px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
}
.header {
  display: flex;
  margin-top: 26px;
}
.header-navigation {
  margin-left: 484.98px;
}
.header-navigation-list {
  display: flex;
  width: 538.016px;
  height: 62px;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 40px;
}
.header-navigation-list-item {
  color: #292f36;
  font-family: "Jost";
  font-size: 19px;
  line-height: 30px;
  letter-spacing: 0.4px;
}
.header-navigation-list-item:hover {
  color: #cda274;
}
.hero {
  background-image: url(img/hero.png);
  background-repeat: no-repeat;
  height: 831px;
  border-radius: 0px 0px 0px 290px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 20px;
}
.hero-title {
  color: #292f36;
  font-family: "DM Serif Display";
  font-size: 80px;
  line-height: 96px;
  margin-bottom: 19px;
}
.hero-text {
  color: #4d5053;
  font-family: "Jost";
  font-size: 22px;
  line-height: 33px;
  margin-bottom: 35px;
}
.hero-button {
  background-image: url(img/button.svg);
  width: 207px;
  height: 71px;
  color: #fff;
  font-size: 18px;
  letter-spacing: 0.72px;
  border: 0px;
}
.features {
  margin-top: 100px;
}
.features-list {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.features-list-item {
  justify-content: space-between;
  width: 400px;
  flex-direction: row;
}
.features-list-item-title {
  color: #292f36;
  text-align: center;
  font-family: "DM Serif Display";
  font-size: 25px;
  line-height: 39px;
}
.features-list-item-description {
  color: #4d5053;
  text-align: center;
  font-family: "Jost";
  font-size: 22px;
  line-height: 33px;
}
.features-list-item-link {
  margin-top: 68px;
}
.challenging-designs {
  margin-top: 100px;
  color: #4d5053;
  font-family: "Jost";
  line-height: 33px;
  display: flex;
  font-size: 22px;
}
.challenging-designs-frame1-title {
  color: #292f36;
  font-family: "DM Serif Display";
  font-size: 50px;
  line-height: 65px;
  margin-bottom: 42px;
}
.challenging-designs-frame1-description {
  width: 531px;
  margin-right: 77px;
  margin-bottom: 46px;
}
.challenging-designs-img {
  align-self: flex-end;
}
.challenging-designs-phone-icon-div {
  display: flex;
  width: 96px;
  height: 96px;
  background: #f4f0ec;
  border-radius: 100px;
}
.challenging-designs-phone-icon {
  width: 34px;
  height: 34px;
  margin-top: 30px;
  margin-left: 30px;
}
.challenging-designs-phone-icon-div2 {
  width: 160px;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-left: 40px;
}
.challenging-designs-phone-icon-number {
  color: #4d5053;
  font-size: 24px;
}
.challenging-designs-button {
  background-image: url(img/button.svg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 50px;
  width: 263px;
  height: 80px;
  border: none;
  border-radius: 18px;
  font-size: 18px;
  color: #fff;
}
.thinkings {
  background: #f4f0ec;
  border-radius: 70px;
  height: 675px;
  margin-top: 140px;
}
.thinkings-title {
  color: #292f36;
  text-align: center;
  font-family: "DM Serif Display";
  font-size: 45px;
  line-height: 58.5px;
  padding-top: 103px;
}
.thinkings-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.thinkings-list-item {
  width: 354px;
  height: 287px;
  border-radius: 30px;
  background: #fff;
  margin-top: 47px;
}
.thinkings-list-item-div {
  width: 289px;
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 50px;
  padding-left: 30px;
}
.thinkings-list-item-div-person-info {
  margin-left: 20px;
}
.thinkings-list-item-person-name {
  width: 162px;
  color: #292f36;
  font-family: "DM Serif Display";
  font-size: 25px;
  line-height: 37.5px;
}
.thinkings-list-item-person-location {
  color: #4d5053;
  font-family: "Jost";
  font-size: 18px;
  line-height: 27px;
}
.thinkings-list-item-comment {
  width: 256px;
  margin-top: 20px;
  margin-left: 35px;
  color: #4d5053;
  font-family: "Jost";
  font-size: 20px;
  line-height: 30px;
}
.icons {
  margin-top: 140px;
  margin-bottom: 100px;
}
.icon-list {
  display: flex;
}
.icon-list-item {
  margin-right: 125px;
}
.icon-list-item:last-child {
  margin-right: 0px;
}
.recent-projects-title {
  color: #292f36;
  text-align: center;
  font-family: "DM Serif Display";
  font-size: 47px;
  line-height: 62.4px;
}
.recent-projects-subtitle {
  color: #4d5053;
  text-align: center;
  font-family: "Jost";
  font-size: 22px;
  line-height: 33px;
  margin-top: 20px;
}
.recent-projects-list {
  padding-top: 70px;
  display: flex;
  flex-wrap: wrap;
}
.recent-projects-list-item {
  width: 590px;
  margin-right: 20px;
}
.recent-projects-list-item:nth-child(even) {
  margin-right: 0px;
}
.recent-projects-list-item-text {
  display: flex;
  height: 95px;
  padding-top: 25px;
  justify-content: center;
  align-items: flex-start;
  gap: 221.5px;
}
.recent-projects-list-item-title {
  color: #292f36;
  font-family: "DM Serif Display";
  font-size: 24px;
  line-height: 37.5px;
}
.recent-projects-list-item-subtitle {
  color: #4d5053;
  font-family: "Jost";
  font-size: 22px;
  line-height: 33px;
}
.recent-projects-list-item-button {
  background-image: url(img/arrow.svg);
  width: 70px;
  height: 70px;
  border-radius: 100px;
  background: #f4f0ec;
  border: none;
}
.reviews {
  background: #f4f0ec;
  margin-top: 140px;
}
.reviews-list {
  display: flex;
}
